{% extends 'pih_app/base.html' %}

{% block content %}
    <div class="container" style="margin-top:20px">
        <div class="row justify-content-center">
            <div class="col-m6">
                    <h5 class="text-center">Change Your Password</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{form.new_password1.help_text|safe}}
                        <div class="form-group">
                            {{form.old_password.errors}}
                            {{form.old_password.label_tag}}
                            {{form.old_password}}
                        </div>
                        <div class="form-group">
                            {{form.new_password1.errors}}
                            {{form.new_password1.label_tag}}
                            {{form.new_password1}}
                        </div>
                        <div class="form-group">
                            {{form.new_password2.errors}}
                            {{form.new_password2.label_tag}}
                            {{form.new_password2}}
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                 </div>
            </div>
        </div>




        
{% endblock %}















