{% extends "pih_app/base.html" %}
{% load staticfiles %}

{% block content %}

{% if alert == 'approved' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Success!</strong> The request with ID: {{ id }} was approved
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
</div>
{% elif alert == 'rejected' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Success!</strong> The request with ID: {{ id }} was rejected
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
</div>
{% endif %}



<div class="container">
    <div class="row justify-content-center" style="margin-top: 20px">
        <h3>Forms Awaiting Approval</h3>
    </div>
    <p align="center">To review a request, simply press the "Review" icon on the relevant row.<br>
    <small>Note that any requests submitted by yourself will not be displayed here.</small>
    </p>



    <div class="container" style="margin-top: 20px;margin-bottom: 20px">
    <table class="table table-striped hover" id="review-table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Submission Date</th>
          <th scope="col">Host</th>
          <th scope="col" ># of Visitors</th>
          <th scope="col">Visitor Name(s)</th>
          <th scope="col">Arrival Date</th>
          <th scope="col">Departure Date</th>
          <th scope="col">Review</th>
        </tr>
      </thead>
    </table>

    </div>

</div>

{% endblock %}




{% block customjs %}




<script>
$.getJSON({% url "pih_app:get_requests_json" %},{'type':'awaiting review'}, function(data){
           var table = $('#review-table').DataTable({
               data: data,
               columns: [
                   {data: 'ID', orderable: false,  className: 'dt-body-center'},
                   {data: 'Submission Date', orderable: true, searchable:false},
                   {data: 'Host', orderable: false},
                   {data: '# of Visitors', orderable: false, searchable: false, className: 'dt-body-center', },
                   {data:'Visitor Name(s)', orderable:false, searchable:true},
                   {data: 'Arrival Date', searchable: false, className: 'dt-body-center', },
                   {data: 'Departure Date', searchable: false, orderable:false, className: 'dt-body-center', },
                   {data:null,targets:-1,defaultContent: "<button><i class='far fa-eye'></i></button>", orderable:false, searchable:false, className: 'dt-body-center'}
                   ],
           });
           $('#review-table tbody').on( 'click', 'button', function(){
                    let data =$('#review-table').DataTable().row( $(this).parents('tr') ).data();
                    let ID = data.ID;
                    window.location.href='/reviewer-dashboard/review/'+ID
                    });

})

</script>


{% endblock %}