{% extends 'pih_app/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row justify-content-center" style="margin-top:20px; margin-bottom: 20px">
        <h2>Dashboard: PIH Sierra Leone</h2>
    </div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Request ID</th>
                <th scope="col">Host</th>
                <th scope="col">Name(s) of Visitors</th>
                <th scope="col">Dates</th>
                <th scope="col">Approval</th>
                <th scope="col">Organization</th>
                <th scope="col">Reimbursement</th>
            </tr>
        </thead>
    </table>


</div>


</div>



{% endblock %}