{% extends "pih_app/base.html" %}
{% load staticfiles %}
{% load tags %}



{% block content %}

    <div class="container">
    <div class="row justify-content-center" style="margin:20px">
        <h3>Requests awaiting approval</h3>
    </div>
        <div class="row">

            {% for request in r %}
            <div class="col-md-4" style="margin-bottom: 20px">
            <div class="card h-100" style="width: 70%;" >
                <img class="card-img-top" src="{% static "images/review.svg" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Request(s) ID {{ request.id }}</h5>
                        <p>
                            Submitted {{ request.submission_date|timesince|upto:','}} ago
                        </p>
                        <p>
                            <strong>Visitors:</strong> {{ request.print_names_of_visitors }}
                        </p>
                        <p>
                           <strong>Arrival Date:</strong> {{ request.arrival_date }}
                        </p>
                         <a href="{% url "pih_app:review_request" id=request.id %}" class="btn btn-primary">View Request</a>
                    </div>
            </div>
            </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}