<div class="modal" tabindex="-1" role="dialog" id="rejection-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reject Request ID: {{ r.id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <form action="" method="post">
          {% csrf_token %}
          <div class="modal-body">
              <select name="status" id="id_status" style="display:none">
                  <option value="rejected" selected>Rejected</option>
              </select>

              <label for="id_review_comment">Add a comment (required)</label>
              <div class="row" style="margin-left: 10px">
                  <textarea id="id_review_comment" name="review_comment" cols="50", rows="2" required></textarea>
              </div>

          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-danger" value="Reject Request">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </form>


    </div>
  </div>
</div>