{% extends "pih_app/base.html" %}
{% load staticfiles %}
{% load tags %}



{% block content %}

<div class="container">
    <a class="btn btn-secondary" href="{% url "pih_app:personal_dashboard" %}" style="margin-top: 10px">Return</a>
    <div class="row justify-content-center">
        <h3>Items that need organizing</h3>
    </div>
    <div class="row justify-content-center">
        <h5>Below are items of approved requests that need organizing by you</h5>
    </div>



<div class="row justify-content-around" style="margin:30px">


{% for type in types %}
    <div class="card" style="width: 16%; margin-bottom:10px">
        <div class="row justify-content-center" style="margin-top:20px">
            <div style="height:3em">
                <img class="card-img-top" src="{% static "images/"|add:type|add:".svg" %}" alt="Card image cap" >
            </div>
        </div>
          <div class="card-body">
            <p class="card-title">{{ type }}</p>
            <button id="progress-button1" class="btn btn-primary" name="completed">View </button>
          </div>
    </div>

{% endfor %}

</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'images/Flights.svg' %}" alt="">
            </div>
            <div class='col-md-4'>Content test</div>
            <div class='col-md-3'>Content</div>
            <div class='col-md-3'>Content</div>
        </div>
    </div>
</div>

</div>


{% endblock %}